{# src/USMB/SNMPBundle/Resources/views/SNMPBundle/device.html.twig #}

{% extends "USMBSNMPBundle::layout.html.twig" %}

{% block activeDevices %} active {% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ device.name }}</h1>
        <button class="btn btn-sm btn-outline-secondary" onclick="refresh()">Refresh</button>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary" onclick="setDelay(30)">30s</button>
                <button class="btn btn-sm btn-outline-secondary" onclick="setDelay(60)">1min</button>
                <button class="btn btn-sm btn-outline-secondary" onclick="setDelay(300)">5min</button>
            </div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="#"
               class="btn {% if device.isAlive %}btn-success{% else %}btn-danger{% endif %} btn-sm"
               role="button">
                            <span
                                    data-feather="{% if device.isAlive %}activity{% else %}alert-triangle{% endif %}">
                            </span>
            </a>
            </div>
    </div>
    <div class="container row col-lg-12 col-md-12 col-sm-12">
        {% for profileName,dataArray in data %}
            {% if dataArray[0].result matches '/^\\d+$/' %}
            {% else %}
                {% set entry = dataArray | last %}
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card bg-light mb-3">
                        <div class="card-header">{{ profileName }}</div>
                        <div class="card-body">
                            Last value registered : <b> {{ entry.result }}</b>
                            at {{ entry.createdAt | date('Y-m-d H:i:s') }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% for profileName,dataArray in data %}
            {% if dataArray[0].result matches '/^\\d+$/' %}
                <canvas id="{{ 'myChart_' ~ profileName }}" class="col-lg-6 col-md-6 col-sm-12"></canvas>
                <script>
                    var ctx = document.getElementById("{{ 'myChart_' ~ profileName }}").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [ {% set i = 0 %}{% for data in dataArray  if i < 100 %} "{{ data.createdAt | date('d/m H:i:s') }}",{% set i = i + 1 %}{% endfor %}],
                            datasets: [{
                                label: '{{ profileName }}',
                                data: [{% set i = 0 %}{% for data in dataArray if i < 100 %} "{{ data.result }}",{% set i = i + 1 %}{% endfor %}],
                                borderColor: getRandomRgb()
                            }]
                        },
                        options: {
                            responsive: true,
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Date'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Value'
                                    }
                                }]
                            }
                        }
                    });

                </script>

                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
{% block css %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script>
    function getRandomRgb() {
        var num = Math.round(0xffffff * Math.random());
        var r = num >> 16;
        var g = num >> 8 & 255;
        var b = num & 255;
        return 'rgb(' + r + ', ' + g + ', ' + b + ')';
    }
</script>
{% endblock %}
{% block scripts %}

    <script>
        var timedelay;
        if (document.cookie != null) {
            timedelay = document.cookie;
        } else {
            timedelay = 30000;
        }
        setTimeout(refresh, timedelay);

        function setDelay(n) {
            timedelay = n*1000;
            setCookie();
            refresh();
        }

        function refresh() {
            location.reload(true);
        }

        function getCookie() {
            var timedelay;
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(timedelay.length, c.length);
                }
            }
            return "";
        }

        function setCookie() {
            var d = new Date();
            d.setTime(d.getTime() + (24*60*60*1000));
            var expires = "expires="+ d.toUTCString();
            document.cookie = timedelay + ";" + expires + ";path=/";
        }


    </script>

{% endblock %}
