{# src/USMB/SNMPBundle/Resources/views/SNMPBundle/manageDevice.html.twig #}

{% extends "USMBSNMPBundle::layout.html.twig" %}

{% block activeManageDevices %} active {% endblock %}

{% block body %}
    <div class="container col-lg-8 col-md-10 col-sm-12">
        <div class="card bg-light mb-3">
            <div class="card-header">Add device :</div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'true'} }) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.name, "Name") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Device Name','required': 'true'} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a device name.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.host, "host") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.host, {'attr': {'class': 'form-control', 'placeholder': 'IP/Domain name', 'required': 'true' } }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a IP/device name.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.version, "Version") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.version, {'attr': {'class': 'form-control', 'required': 'true'} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a snmp Version.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.location, "Location") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.location, {'attr': {'class': 'form-control', 'placeholder': 'Device location', 'required': 'true'} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a device location.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.community, "Community") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.community, {'attr': {'class': 'form-control', 'placeholder': 'Device community', 'required': 'true'} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a device community.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.profiles, "Profiles") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.profiles, {'attr': {'class': 'form-control', 'required': 'true'} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please choose at least one profile.
                        </div>
                    </div>
                </div>
                <div id="v3_content" class="form-row">
                    <div class="col-md-4 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.user, "User") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.user, {'attr': {'class': 'form-control', 'value': ' '} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter an user.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.password, "Password") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'value': ' '} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a password.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        {# Génération du label. #}
                        {{ form_label(form.cryptoKey, "Crypto Key") }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.cryptoKey, {'attr': {'class': 'form-control', 'value': ' '} }) }}
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a kryptoKey.
                        </div>
                    </div>
                </div>
                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'} }) }}

                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
        <script>
            //JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
        <script>
            var v3Content = document.getElementById('v3_content');
            v3Content.classList.add('hide');

            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('select[name="device[version]"]').onchange = changeEventHandler;
            }, false);

            function changeEventHandler(event) {
                var v3Content = document.getElementById('v3_content');
                if (event.target.value === 'V2') {
                    v3Content.classList.add('hide');
                } else {
                    v3Content.classList.remove('hide');
                }
            }
        </script>
{% endblock %}

