{# src/USMB/SNMPBundle/Resources/views/layout.html.twig #}


<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="easySNMP">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>easySNMP</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/usmbsnmp/css/style.css') }}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img src="{{ asset('/bundles/usmbsnmp/image/usmb.ico') }}"  width="27" height="27">
        easySNMP</a>
    <ul class="navbar-nav px-10 mr-2">
        <li class="nav-item text-nowrap text-white">
            <span data-feather="user"></span>
            {{ app.user.username }}
        </li>
    </ul>
    <ul class="navbar-nav px-10 mr-2">
        <li class="nav-item text-nowrap text-white">
            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky mt-3">

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-5 mb-1 text-muted">
                    <span>Discover</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="search"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav">
                        <a class="nav-link {% block activeDashboard %} {% endblock %}"
                           href="{{ path('usmbsnmp_dashboard') }}">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block activeDevices %} {% endblock %}"
                           href="{{ path('usmbsnmp_devices') }}">
                            <span data-feather="hard-drive"></span>
                            Devices
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Manage</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="edit-2"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link {% block activeManageDevices %} {% endblock %}"
                           href="{{ path('usmbsnmp_manage_devices') }}">
                            <span data-feather="hard-drive"></span>
                            Devices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block activeManageProfiles %} {% endblock %}"
                           href="{{ path('usmbsnmp_manage_profiles') }}">
                            <span data-feather="layers"></span>
                            Profiles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block activeManageLogs %} {% endblock %}"
                           href="{{ path('usmbsnmp_manage_logs') }}">
                            <span data-feather="file-text"></span>
                            Logs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block activeManageUsers %} {% endblock %}"
                           href="{{ path('usmbsnmp_manage_users') }}">
                            <span data-feather="user"></span>
                            Users
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% block body %}

            {% endblock %}
        </main>
        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>
        {% block scripts %}

        {% endblock %}
</body>

</html>